<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Code Contas</title>
</head>

<body id="app">

<h1>{{ title }}</h1>
<h3>{{ status }}</h3>


<nav>
    <ul>
        <li v-for="o in menus">
            <a href="javascript:void(0)" v-on:click="showView(o.id)"> {{o.name}} </a>
        </li>
    </ul>
</nav>


<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>#</th>
        <th>Vencimento</th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Paga?</th>
    </tr>
    </thead>
    <tbody>
        <tr v-for="(index,o) in bills">
            <td>{{index +1}}</td>
            <td>{{ o.date_due }}</td>
            <td>{{ o.name }}</td>
            <td>{{ o.value}}</td>
            <td>{{o.done }}</td>
        </tr>

    </tbody>

</table>

<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>